<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Notebooks</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
</head>
<body>
<h4 th:text="'All notes for ' +${notebook.getTitle()} "/>
<br/>
<main>
    <table class="table text-center table-dark ">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note:${notes}">
            <th scope="row" th:text="${note.getId()}"/>
            <td th:text="${note.getTitle()}"/>
            <td th:text="${note.getContent()}"/>
            <td><a th:href="@{/api/note/__${note.id}__/editNote}" class="btn btn-outline-info">Edit note</a></td>
        </tr>
        </tbody>
    </table>
    <div>
        <p><a th:href="@{~/api/notebooks}">Notebooks</a></p>
    </div>
</main>
</body>
</html>
